body {
    font-family: arial, tahoma, verdana, serif;
    font-size: 12pt;
    line-height: 1.5em;
    background-color: lightgrey;
}

div#header{
    border-color: green; 
}

#header img{
    border-color: red;
}

.header img { 
border: 8px solid yellow;
}

img {
    border: 5px solid black;
}

#header{
    padding-top: 50px;
    border-top: 40px dashed blue;
}

.header{
    padding: 20px;
    border: 10px solid red;
    margin: 15px;
}


h1 {
    font-size: 250%;
    text-align: center;
}

h1, h2{
    text-align: center;
}

.pochylony{
    font-style: italic;
}

.pogrubiony{
    font-weight: bold;
}

li{
    font: italic bold 16px/24px gabriola;
}

.tekst1{
    color: #7516ED;
}

.tekst2{
    color: #2B7DED;
}


